[submodule "test-web-php"]
	path = external/test-web-php
	url = ../test-web-php
[submodule "test-web-nodejs"]
	path = external/test-web-nodejs
	url = ../test-web-nodejs
[submodule "test-web-ruby"]
	path = external/test-web-ruby
	url = ../test-web-ruby
[submodule "cid"]
	path = external/cid-tool
	url = ../../futoin/cid-tool.git
